{% extends 'base.html' %}

{% block content %}
    {% include 'panel_for_registered.html' %}
    {% include 'topic_list.html' %}
    <form method="get" action="{% url 'blogs' %}">
        <input type="text" name="search" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
  <h1>List of posts</h1>
  <ul>
    {% for post in posts_info %}
        <div class="posts_section">
            <a href="{% url 'show_one_blog' slug=post.slug %}">{{ post.title }}</a>
            <p>Дата створення: {{post.created_at}}</p>
            <p>Теми: {% for topic in post.related_topics %}
                        {{ topic.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}</p>
            <p>{{ post.short_text }}</p>
            <p>Коментарів: {{ post.num_comments }}</p>
        </div>
    {% endfor %}
  </ul>
{% endblock %}